<header
  class="bg-white shadow-md p-4 h-20 flex justify-between items-center sticky top-0 z-50"
>
  <a
    routerLink="/home"
    class="text-lg font-bold text-gray-700 hover:text-blue-500 transition"
  >
    🏪 MyShop
  </a>

  <div class="relative w-1/2 max-w-lg">
    <div
      class="flex items-center border border-gray-300 rounded-md overflow-hidden bg-gray-100 focus-within:border-blue-500"
    >
      <input
        [(ngModel)]="searchItem"
        placeholder="Search products..."
        (focus)="showDropdown()"
        (blur)="hideDropdown()"
        class="p-2 w-full bg-transparent outline-none"
      />
      <span class="px-3 text-gray-500"> 🔍 </span>
    </div>

    <ul
      *ngIf="isDropdownOpen && filteredProducts().length"
      class="absolute mt-2 w-full bg-white rounded-md shadow-lg z-10 max-h-64 overflow-auto border border-gray-200 transition-all duration-200"
    >
      <li
        *ngFor="let item of filteredProducts()"
        (mousedown)="viewProduct(item.id)"
        class="p-2 border-b cursor-pointer hover:bg-blue-100 hover:text-blue-600 transition-colors"
      >
        {{ item.title }}
      </li>
    </ul>
  </div>

  <div class="flex items-center space-x-4">
    <a
      routerLink="/cart"
      class="relative px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition flex items-center"
    >
      🛒 Cart
      <span
        class="ml-2 bg-red-500 text-white text-xs font-bold rounded-full w-5 h-5 flex justify-center items-center"
      >
        {{ productService.cartList().length }}
      </span>
    </a>
    <a
      routerLink="/profile"
      class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
    >
      👤 Profile
    </a>
  </div>
</header>

<router-outlet />
